<div class='head'>
  <div class='desc'>
    <div class='icon'>
      <img src='./images/shot-radio.png' class='drawer'/>
    </div>

    <div class='title'>
      <h1>Hermes</h1>
      <h2>Pandora Client for OS X</h2>

      <a class='download' href='{{ site.data.urls.hermes_download }}'>
        Download
        <div class='sub'>For OS X 10.9 and later.</div>
      </a>

      <a class='develop' href='https://github.com/HermesApp/Hermes'>
        Develop
        <div class='sub'>It's open source.</div>
      </a>

      <a class='info' href='https://github.com/HermesApp/Hermes/issues'>
        Issues
        <div class='sub'>Report a bug.</div>
      </a>
    </div>
  </div>
</div>
